*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.5;
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:focus-visible {
  outline: 0.14rem solid var(--color-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
select {
  width: 100%;
  border: none;
  background: transparent;
  border-radius: var(--radius-sm);
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
  width: fit-content !important;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1rem;
}

/* Anything with this class will not be displayed on screen */
.visually-hidden {
  display: none;
}

.hidden {
  display: none !important;
}

/* Search bar */
.search-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  padding: 0.75rem 1rem;
  border: 2px solid var(--color-white);
}

.search-wrapper input {
  width: auto;
  color: var(--color-black);
  flex: 1;
}

.search-wrapper:focus-within {
  border-color: var(--color-primary);
}

.search-wrapper input:focus-visible {
  outline: none;
}

/* Buttons  */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: var(--radius-sm);
  white-space: nowrap;
  font-size: 1rem;
  width: 100%;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

/* Hover */
.btn:hover {
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.btn-primary:hover {
  background-color: var(--color-primary);
  opacity: 0.85;
}

.btn-secondary:hover {
  border-width: 2px;
}
